In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ritu bains\anaconda3\lib\site-packages (0.23.0)
Requirement already satisfied: numpy>=1.9.0 in c:\users\ritu bains\anaconda3\lib\site-packages (from pandas) (1.14.3)
Requirement already satisfied: pytz>=2011k in c:\users\ritu bains\anaconda3\lib\site-packages (from pandas) (2018.4)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\ritu bains\anaconda3\lib\site-packages (from pandas) (2.7.3)
Requirement already satisfied: six>=1.5 in c:\users\ritu bains\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)

In [2]:
import numpy as np
import pandas as pd

In [3]:
data=[1,2,3,4]
label=['a','b','c','d']
my_data={ 'a':1, 'b':2,'c':3}

In [5]:
df=pd.Series(data,label)
df

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
df=pd.Series(my_data)
df

a    1
b    2
c    3
dtype: int64

In [9]:
my_data=pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
my_data

          W         X         Y         Z
A -0.959111  1.269219 -2.554337  0.542925
B  0.749305  0.258053 -1.474840 -0.596427
C -0.237823  0.576312 -0.624952  1.771437
D -1.297592 -0.643457 -0.975865 -0.175962
E -0.426016  1.647982  1.402187 -0.742770

access the data and add data

In [36]:
my_data.loc[['A','B'],['W','Z']]

          W         Z
A -0.959111  0.542925
B  0.749305 -0.596427

In [37]:
my_data['new']=my_data['W']+my_data['Y']
my_data

          W         X         Y         Z       new
A -0.959111  1.269219 -2.554337  0.542925 -3.513449
B  0.749305  0.258053 -1.474840 -0.596427 -0.725535
C -0.237823  0.576312 -0.624952  1.771437 -0.862775
D -1.297592 -0.643457 -0.975865 -0.175962 -2.273457
E -0.426016  1.647982  1.402187 -0.742770  0.976171

In [43]:

my_data["W"]["A"]

-0.9591113120747612

Drop the row and col inplace drop the data from original data frame

In [45]:
my_data.drop('new',axis=1,inplace=True)
my_data

          W         X         Y         Z
A -0.959111  1.269219 -2.554337  0.542925
B  0.749305  0.258053 -1.474840 -0.596427
C -0.237823  0.576312 -0.624952  1.771437
D -1.297592 -0.643457 -0.975865 -0.175962
E -0.426016  1.647982  1.402187 -0.742770

In [47]:
my_data.drop('E')

          W         X         Y         Z
A -0.959111  1.269219 -2.554337  0.542925
B  0.749305  0.258053 -1.474840 -0.596427
C -0.237823  0.576312 -0.624952  1.771437
D -1.297592 -0.643457 -0.975865 -0.175962

Slicing using condition

In [48]:
my_data>0

       W      X      Y      Z
A  False   True  False   True
B   True   True  False  False
C  False   True  False   True
D  False  False  False  False
E  False   True   True  False

In [51]:
my_data[my_data['W']>0][['Y','Z']]

         Y         Z
B -1.47484 -0.596427

In [52]:
boolsr=my_data['W']>0
result=my_data[boolsr]
my_col=['Y','X']
result[my_col]

         Y         X
B -1.47484  0.258053

Indexing

In [54]:
my_data[(my_data['Y']>0) &(my_data['W']>1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [55]:
newind='CA NY OR WY IND'.split()

In [56]:
my_data['States']=newind

In [57]:
my_data

          W         X         Y         Z States
A -0.959111  1.269219 -2.554337  0.542925     CA
B  0.749305  0.258053 -1.474840 -0.596427     NY
C -0.237823  0.576312 -0.624952  1.771437     OR
D -1.297592 -0.643457 -0.975865 -0.175962     WY
E -0.426016  1.647982  1.402187 -0.742770    IND

In [60]:
my_data.set_index('States',inplace=True)

In [61]:
my_data

               W         X         Y         Z
States
CA     -0.959111  1.269219 -2.554337  0.542925
NY      0.749305  0.258053 -1.474840 -0.596427
OR     -0.237823  0.576312 -0.624952  1.771437
WY     -1.297592 -0.643457 -0.975865 -0.175962
IND    -0.426016  1.647982  1.402187 -0.742770

In [64]:
my_data.reset_index()

  States         W         X         Y         Z
0     CA -0.959111  1.269219 -2.554337  0.542925
1     NY  0.749305  0.258053 -1.474840 -0.596427
2     OR -0.237823  0.576312 -0.624952  1.771437
3     WY -1.297592 -0.643457 -0.975865 -0.175962
4    IND -0.426016  1.647982  1.402187 -0.742770

Mutilevel indexing

In [68]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [69]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [70]:
df=pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1  0.645523 -0.585571
   2  0.527167 -1.672011
   3 -0.244502 -0.077902
G2 1  0.621180 -0.638902
   2  0.284635 -1.436657
   3 -0.393461  1.029622

In [71]:
df.loc['G2'].loc[2]['B']

-1.436656708499393

In [72]:
df.index.names=['Groups','Num']

In [73]:
df

                   A         B
Groups Num
G1     1    0.645523 -0.585571
       2    0.527167 -1.672011
       3   -0.244502 -0.077902
G2     1    0.621180 -0.638902
       2    0.284635 -1.436657
       3   -0.393461  1.029622

In [75]:
df.loc['G1']

            A         B
Num
1    0.645523 -0.585571
2    0.527167 -1.672011
3   -0.244502 -0.077902

In [77]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.645523 -0.585571
G2      0.621180 -0.638902

In [83]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.645523 -0.585571
G2      0.621180 -0.638902

MISSING VALUES

In [85]:
d={'A':[1,2,np.nan],'B' : [5,np.nan,np.nan],'C':[1,2,3]}
df=pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

Drop the nan values if axis 1 then drop col otherwise row

In [86]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [87]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

Drop the rows having alteast 2 nan values

In [88]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [89]:
df.fillna(value='Fill Value')

            A           B  C
0           1           5  1
1           2  Fill Value  2
2  Fill Value  Fill Value  3

Fill the nan value with Mean

In [93]:
df.fillna(value=df['A'].mean())

     A    B  C
0  1.0  5.0  1
1  2.0  1.5  2
2  1.5  1.5  3

Group By function

In [94]:
data={'Person':['sam','john','smith','joy','roy'],'Company':['Fb','google','microsoft','fb','google'],'sales':[100,200,300,200,300]}
df=pd.DataFrame(data)

In [100]:
df

  Person    Company  sales
0    sam         Fb    100
1   john     google    200
2  smith  microsoft    300
3    joy         fb    200
4    roy     google    300

In [105]:
d=df.groupby('Company').sum()

In [113]:
d=df.groupby('Company').describe()

In [114]:
d

          sales
          count   mean        std    min    25%    50%    75%    max
Company
Fb          1.0  100.0        NaN  100.0  100.0  100.0  100.0  100.0
fb          1.0  200.0        NaN  200.0  200.0  200.0  200.0  200.0
google      2.0  250.0  70.710678  200.0  225.0  250.0  275.0  300.0
microsoft   1.0  300.0        NaN  300.0  300.0  300.0  300.0  300.0

In [509]:
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [510]:
from numpy import genfromtxt
data=genfromtxt('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',
               delimiter='',dtype='unicode')

In [511]:

data

array(['5.1,3.5,1.4,0.2,Iris-setosa', '4.9,3.0,1.4,0.2,Iris-setosa',
       '4.7,3.2,1.3,0.2,Iris-setosa', '4.6,3.1,1.5,0.2,Iris-setosa',
       '5.0,3.6,1.4,0.2,Iris-setosa', '5.4,3.9,1.7,0.4,Iris-setosa',
       '4.6,3.4,1.4,0.3,Iris-setosa', '5.0,3.4,1.5,0.2,Iris-setosa',
       '4.4,2.9,1.4,0.2,Iris-setosa', '4.9,3.1,1.5,0.1,Iris-setosa',
       '5.4,3.7,1.5,0.2,Iris-setosa', '4.8,3.4,1.6,0.2,Iris-setosa',
       '4.8,3.0,1.4,0.1,Iris-setosa', '4.3,3.0,1.1,0.1,Iris-setosa',
       '5.8,4.0,1.2,0.2,Iris-setosa', '5.7,4.4,1.5,0.4,Iris-setosa',
       '5.4,3.9,1.3,0.4,Iris-setosa', '5.1,3.5,1.4,0.3,Iris-setosa',
       '5.7,3.8,1.7,0.3,Iris-setosa', '5.1,3.8,1.5,0.3,Iris-setosa',
       '5.4,3.4,1.7,0.2,Iris-setosa', '5.1,3.7,1.5,0.4,Iris-setosa',
       '4.6,3.6,1.0,0.2,Iris-setosa', '5.1,3.3,1.7,0.5,Iris-setosa',
       '4.8,3.4,1.9,0.2,Iris-setosa', '5.0,3.0,1.6,0.2,Iris-setosa',
       '5.0,3.4,1.6,0.4,Iris-setosa', '5.2,3.5,1.5,0.2,Iris-setosa',
       '5.2,3.4,1.4,0.2,Iris-setosa', '4.7,3.2,1.6,0.2,Iris-setosa',
       '4.8,3.1,1.6,0.2,Iris-setosa', '5.4,3.4,1.5,0.4,Iris-setosa',
       '5.2,4.1,1.5,0.1,Iris-setosa', '5.5,4.2,1.4,0.2,Iris-setosa',
       '4.9,3.1,1.5,0.1,Iris-setosa', '5.0,3.2,1.2,0.2,Iris-setosa',
       '5.5,3.5,1.3,0.2,Iris-setosa', '4.9,3.1,1.5,0.1,Iris-setosa',
       '4.4,3.0,1.3,0.2,Iris-setosa', '5.1,3.4,1.5,0.2,Iris-setosa',
       '5.0,3.5,1.3,0.3,Iris-setosa', '4.5,2.3,1.3,0.3,Iris-setosa',
       '4.4,3.2,1.3,0.2,Iris-setosa', '5.0,3.5,1.6,0.6,Iris-setosa',
       '5.1,3.8,1.9,0.4,Iris-setosa', '4.8,3.0,1.4,0.3,Iris-setosa',
       '5.1,3.8,1.6,0.2,Iris-setosa', '4.6,3.2,1.4,0.2,Iris-setosa',
       '5.3,3.7,1.5,0.2,Iris-setosa', '5.0,3.3,1.4,0.2,Iris-setosa',
       '7.0,3.2,4.7,1.4,Iris-versicolor',
       '6.4,3.2,4.5,1.5,Iris-versicolor',
       '6.9,3.1,4.9,1.5,Iris-versicolor',
       '5.5,2.3,4.0,1.3,Iris-versicolor',
       '6.5,2.8,4.6,1.5,Iris-versicolor',
       '5.7,2.8,4.5,1.3,Iris-versicolor',
       '6.3,3.3,4.7,1.6,Iris-versicolor',
       '4.9,2.4,3.3,1.0,Iris-versicolor',
       '6.6,2.9,4.6,1.3,Iris-versicolor',
       '5.2,2.7,3.9,1.4,Iris-versicolor',
       '5.0,2.0,3.5,1.0,Iris-versicolor',
       '5.9,3.0,4.2,1.5,Iris-versicolor',
       '6.0,2.2,4.0,1.0,Iris-versicolor',
       '6.1,2.9,4.7,1.4,Iris-versicolor',
       '5.6,2.9,3.6,1.3,Iris-versicolor',
       '6.7,3.1,4.4,1.4,Iris-versicolor',
       '5.6,3.0,4.5,1.5,Iris-versicolor',
       '5.8,2.7,4.1,1.0,Iris-versicolor',
       '6.2,2.2,4.5,1.5,Iris-versicolor',
       '5.6,2.5,3.9,1.1,Iris-versicolor',
       '5.9,3.2,4.8,1.8,Iris-versicolor',
       '6.1,2.8,4.0,1.3,Iris-versicolor',
       '6.3,2.5,4.9,1.5,Iris-versicolor',
       '6.1,2.8,4.7,1.2,Iris-versicolor',
       '6.4,2.9,4.3,1.3,Iris-versicolor',
       '6.6,3.0,4.4,1.4,Iris-versicolor',
       '6.8,2.8,4.8,1.4,Iris-versicolor',
       '6.7,3.0,5.0,1.7,Iris-versicolor',
       '6.0,2.9,4.5,1.5,Iris-versicolor',
       '5.7,2.6,3.5,1.0,Iris-versicolor',
       '5.5,2.4,3.8,1.1,Iris-versicolor',
       '5.5,2.4,3.7,1.0,Iris-versicolor',
       '5.8,2.7,3.9,1.2,Iris-versicolor',
       '6.0,2.7,5.1,1.6,Iris-versicolor',
       '5.4,3.0,4.5,1.5,Iris-versicolor',
       '6.0,3.4,4.5,1.6,Iris-versicolor',
       '6.7,3.1,4.7,1.5,Iris-versicolor',
       '6.3,2.3,4.4,1.3,Iris-versicolor',
       '5.6,3.0,4.1,1.3,Iris-versicolor',
       '5.5,2.5,4.0,1.3,Iris-versicolor',
       '5.5,2.6,4.4,1.2,Iris-versicolor',
       '6.1,3.0,4.6,1.4,Iris-versicolor',
       '5.8,2.6,4.0,1.2,Iris-versicolor',
       '5.0,2.3,3.3,1.0,Iris-versicolor',
       '5.6,2.7,4.2,1.3,Iris-versicolor',
       '5.7,3.0,4.2,1.2,Iris-versicolor',
       '5.7,2.9,4.2,1.3,Iris-versicolor',
       '6.2,2.9,4.3,1.3,Iris-versicolor',
       '5.1,2.5,3.0,1.1,Iris-versicolor',
       '5.7,2.8,4.1,1.3,Iris-versicolor',
       '6.3,3.3,6.0,2.5,Iris-virginica', '5.8,2.7,5.1,1.9,Iris-virginica',
       '7.1,3.0,5.9,2.1,Iris-virginica', '6.3,2.9,5.6,1.8,Iris-virginica',
       '6.5,3.0,5.8,2.2,Iris-virginica', '7.6,3.0,6.6,2.1,Iris-virginica',
       '4.9,2.5,4.5,1.7,Iris-virginica', '7.3,2.9,6.3,1.8,Iris-virginica',
       '6.7,2.5,5.8,1.8,Iris-virginica', '7.2,3.6,6.1,2.5,Iris-virginica',
       '6.5,3.2,5.1,2.0,Iris-virginica', '6.4,2.7,5.3,1.9,Iris-virginica',
       '6.8,3.0,5.5,2.1,Iris-virginica', '5.7,2.5,5.0,2.0,Iris-virginica',
       '5.8,2.8,5.1,2.4,Iris-virginica', '6.4,3.2,5.3,2.3,Iris-virginica',
       '6.5,3.0,5.5,1.8,Iris-virginica', '7.7,3.8,6.7,2.2,Iris-virginica',
       '7.7,2.6,6.9,2.3,Iris-virginica', '6.0,2.2,5.0,1.5,Iris-virginica',
       '6.9,3.2,5.7,2.3,Iris-virginica', '5.6,2.8,4.9,2.0,Iris-virginica',
       '7.7,2.8,6.7,2.0,Iris-virginica', '6.3,2.7,4.9,1.8,Iris-virginica',
       '6.7,3.3,5.7,2.1,Iris-virginica', '7.2,3.2,6.0,1.8,Iris-virginica',
       '6.2,2.8,4.8,1.8,Iris-virginica', '6.1,3.0,4.9,1.8,Iris-virginica',
       '6.4,2.8,5.6,2.1,Iris-virginica', '7.2,3.0,5.8,1.6,Iris-virginica',
       '7.4,2.8,6.1,1.9,Iris-virginica', '7.9,3.8,6.4,2.0,Iris-virginica',
       '6.4,2.8,5.6,2.2,Iris-virginica', '6.3,2.8,5.1,1.5,Iris-virginica',
       '6.1,2.6,5.6,1.4,Iris-virginica', '7.7,3.0,6.1,2.3,Iris-virginica',
       '6.3,3.4,5.6,2.4,Iris-virginica', '6.4,3.1,5.5,1.8,Iris-virginica',
       '6.0,3.0,4.8,1.8,Iris-virginica', '6.9,3.1,5.4,2.1,Iris-virginica',
       '6.7,3.1,5.6,2.4,Iris-virginica', '6.9,3.1,5.1,2.3,Iris-virginica',
       '5.8,2.7,5.1,1.9,Iris-virginica', '6.8,3.2,5.9,2.3,Iris-virginica',
       '6.7,3.3,5.7,2.5,Iris-virginica', '6.7,3.0,5.2,2.3,Iris-virginica',
       '6.3,2.5,5.0,1.9,Iris-virginica', '6.5,3.0,5.2,2.0,Iris-virginica',
       '6.2,3.4,5.4,2.3,Iris-virginica', '5.9,3.0,5.1,1.8,Iris-virginica'],
      dtype='<U31')

In [512]:
m_list=[]
for i in range(150):
    m_list.append(0)


for i in range(0,150):
    m_list[i]=str(data[i]).split(",")
m_list

[['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'],
 ['4.9', '3.0', '1.4', '0.2', 'Iris-setosa'],
 ['4.7', '3.2', '1.3', '0.2', 'Iris-setosa'],
 ['4.6', '3.1', '1.5', '0.2', 'Iris-setosa'],
 ['5.0', '3.6', '1.4', '0.2', 'Iris-setosa'],
 ['5.4', '3.9', '1.7', '0.4', 'Iris-setosa'],
 ['4.6', '3.4', '1.4', '0.3', 'Iris-setosa'],
 ['5.0', '3.4', '1.5', '0.2', 'Iris-setosa'],
 ['4.4', '2.9', '1.4', '0.2', 'Iris-setosa'],
 ['4.9', '3.1', '1.5', '0.1', 'Iris-setosa'],
 ['5.4', '3.7', '1.5', '0.2', 'Iris-setosa'],
 ['4.8', '3.4', '1.6', '0.2', 'Iris-setosa'],
 ['4.8', '3.0', '1.4', '0.1', 'Iris-setosa'],
 ['4.3', '3.0', '1.1', '0.1', 'Iris-setosa'],
 ['5.8', '4.0', '1.2', '0.2', 'Iris-setosa'],
 ['5.7', '4.4', '1.5', '0.4', 'Iris-setosa'],
 ['5.4', '3.9', '1.3', '0.4', 'Iris-setosa'],
 ['5.1', '3.5', '1.4', '0.3', 'Iris-setosa'],
 ['5.7', '3.8', '1.7', '0.3', 'Iris-setosa'],
 ['5.1', '3.8', '1.5', '0.3', 'Iris-setosa'],
 ['5.4', '3.4', '1.7', '0.2', 'Iris-setosa'],
 ['5.1', '3.7', '1.5', '0.4', 'Iris-setosa'],
 ['4.6', '3.6', '1.0', '0.2', 'Iris-setosa'],
 ['5.1', '3.3', '1.7', '0.5', 'Iris-setosa'],
 ['4.8', '3.4', '1.9', '0.2', 'Iris-setosa'],
 ['5.0', '3.0', '1.6', '0.2', 'Iris-setosa'],
 ['5.0', '3.4', '1.6', '0.4', 'Iris-setosa'],
 ['5.2', '3.5', '1.5', '0.2', 'Iris-setosa'],
 ['5.2', '3.4', '1.4', '0.2', 'Iris-setosa'],
 ['4.7', '3.2', '1.6', '0.2', 'Iris-setosa'],
 ['4.8', '3.1', '1.6', '0.2', 'Iris-setosa'],
 ['5.4', '3.4', '1.5', '0.4', 'Iris-setosa'],
 ['5.2', '4.1', '1.5', '0.1', 'Iris-setosa'],
 ['5.5', '4.2', '1.4', '0.2', 'Iris-setosa'],
 ['4.9', '3.1', '1.5', '0.1', 'Iris-setosa'],
 ['5.0', '3.2', '1.2', '0.2', 'Iris-setosa'],
 ['5.5', '3.5', '1.3', '0.2', 'Iris-setosa'],
 ['4.9', '3.1', '1.5', '0.1', 'Iris-setosa'],
 ['4.4', '3.0', '1.3', '0.2', 'Iris-setosa'],
 ['5.1', '3.4', '1.5', '0.2', 'Iris-setosa'],
 ['5.0', '3.5', '1.3', '0.3', 'Iris-setosa'],
 ['4.5', '2.3', '1.3', '0.3', 'Iris-setosa'],
 ['4.4', '3.2', '1.3', '0.2', 'Iris-setosa'],
 ['5.0', '3.5', '1.6', '0.6', 'Iris-setosa'],
 ['5.1', '3.8', '1.9', '0.4', 'Iris-setosa'],
 ['4.8', '3.0', '1.4', '0.3', 'Iris-setosa'],
 ['5.1', '3.8', '1.6', '0.2', 'Iris-setosa'],
 ['4.6', '3.2', '1.4', '0.2', 'Iris-setosa'],
 ['5.3', '3.7', '1.5', '0.2', 'Iris-setosa'],
 ['5.0', '3.3', '1.4', '0.2', 'Iris-setosa'],
 ['7.0', '3.2', '4.7', '1.4', 'Iris-versicolor'],
 ['6.4', '3.2', '4.5', '1.5', 'Iris-versicolor'],
 ['6.9', '3.1', '4.9', '1.5', 'Iris-versicolor'],
 ['5.5', '2.3', '4.0', '1.3', 'Iris-versicolor'],
 ['6.5', '2.8', '4.6', '1.5', 'Iris-versicolor'],
 ['5.7', '2.8', '4.5', '1.3', 'Iris-versicolor'],
 ['6.3', '3.3', '4.7', '1.6', 'Iris-versicolor'],
 ['4.9', '2.4', '3.3', '1.0', 'Iris-versicolor'],
 ['6.6', '2.9', '4.6', '1.3', 'Iris-versicolor'],
 ['5.2', '2.7', '3.9', '1.4', 'Iris-versicolor'],
 ['5.0', '2.0', '3.5', '1.0', 'Iris-versicolor'],
 ['5.9', '3.0', '4.2', '1.5', 'Iris-versicolor'],
 ['6.0', '2.2', '4.0', '1.0', 'Iris-versicolor'],
 ['6.1', '2.9', '4.7', '1.4', 'Iris-versicolor'],
 ['5.6', '2.9', '3.6', '1.3', 'Iris-versicolor'],
 ['6.7', '3.1', '4.4', '1.4', 'Iris-versicolor'],
 ['5.6', '3.0', '4.5', '1.5', 'Iris-versicolor'],
 ['5.8', '2.7', '4.1', '1.0', 'Iris-versicolor'],
 ['6.2', '2.2', '4.5', '1.5', 'Iris-versicolor'],
 ['5.6', '2.5', '3.9', '1.1', 'Iris-versicolor'],
 ['5.9', '3.2', '4.8', '1.8', 'Iris-versicolor'],
 ['6.1', '2.8', '4.0', '1.3', 'Iris-versicolor'],
 ['6.3', '2.5', '4.9', '1.5', 'Iris-versicolor'],
 ['6.1', '2.8', '4.7', '1.2', 'Iris-versicolor'],
 ['6.4', '2.9', '4.3', '1.3', 'Iris-versicolor'],
 ['6.6', '3.0', '4.4', '1.4', 'Iris-versicolor'],
 ['6.8', '2.8', '4.8', '1.4', 'Iris-versicolor'],
 ['6.7', '3.0', '5.0', '1.7', 'Iris-versicolor'],
 ['6.0', '2.9', '4.5', '1.5', 'Iris-versicolor'],
 ['5.7', '2.6', '3.5', '1.0', 'Iris-versicolor'],
 ['5.5', '2.4', '3.8', '1.1', 'Iris-versicolor'],
 ['5.5', '2.4', '3.7', '1.0', 'Iris-versicolor'],
 ['5.8', '2.7', '3.9', '1.2', 'Iris-versicolor'],
 ['6.0', '2.7', '5.1', '1.6', 'Iris-versicolor'],
 ['5.4', '3.0', '4.5', '1.5', 'Iris-versicolor'],
 ['6.0', '3.4', '4.5', '1.6', 'Iris-versicolor'],
 ['6.7', '3.1', '4.7', '1.5', 'Iris-versicolor'],
 ['6.3', '2.3', '4.4', '1.3', 'Iris-versicolor'],
 ['5.6', '3.0', '4.1', '1.3', 'Iris-versicolor'],
 ['5.5', '2.5', '4.0', '1.3', 'Iris-versicolor'],
 ['5.5', '2.6', '4.4', '1.2', 'Iris-versicolor'],
 ['6.1', '3.0', '4.6', '1.4', 'Iris-versicolor'],
 ['5.8', '2.6', '4.0', '1.2', 'Iris-versicolor'],
 ['5.0', '2.3', '3.3', '1.0', 'Iris-versicolor'],
 ['5.6', '2.7', '4.2', '1.3', 'Iris-versicolor'],
 ['5.7', '3.0', '4.2', '1.2', 'Iris-versicolor'],
 ['5.7', '2.9', '4.2', '1.3', 'Iris-versicolor'],
 ['6.2', '2.9', '4.3', '1.3', 'Iris-versicolor'],
 ['5.1', '2.5', '3.0', '1.1', 'Iris-versicolor'],
 ['5.7', '2.8', '4.1', '1.3', 'Iris-versicolor'],
 ['6.3', '3.3', '6.0', '2.5', 'Iris-virginica'],
 ['5.8', '2.7', '5.1', '1.9', 'Iris-virginica'],
 ['7.1', '3.0', '5.9', '2.1', 'Iris-virginica'],
 ['6.3', '2.9', '5.6', '1.8', 'Iris-virginica'],
 ['6.5', '3.0', '5.8', '2.2', 'Iris-virginica'],
 ['7.6', '3.0', '6.6', '2.1', 'Iris-virginica'],
 ['4.9', '2.5', '4.5', '1.7', 'Iris-virginica'],
 ['7.3', '2.9', '6.3', '1.8', 'Iris-virginica'],
 ['6.7', '2.5', '5.8', '1.8', 'Iris-virginica'],
 ['7.2', '3.6', '6.1', '2.5', 'Iris-virginica'],
 ['6.5', '3.2', '5.1', '2.0', 'Iris-virginica'],
 ['6.4', '2.7', '5.3', '1.9', 'Iris-virginica'],
 ['6.8', '3.0', '5.5', '2.1', 'Iris-virginica'],
 ['5.7', '2.5', '5.0', '2.0', 'Iris-virginica'],
 ['5.8', '2.8', '5.1', '2.4', 'Iris-virginica'],
 ['6.4', '3.2', '5.3', '2.3', 'Iris-virginica'],
 ['6.5', '3.0', '5.5', '1.8', 'Iris-virginica'],
 ['7.7', '3.8', '6.7', '2.2', 'Iris-virginica'],
 ['7.7', '2.6', '6.9', '2.3', 'Iris-virginica'],
 ['6.0', '2.2', '5.0', '1.5', 'Iris-virginica'],
 ['6.9', '3.2', '5.7', '2.3', 'Iris-virginica'],
 ['5.6', '2.8', '4.9', '2.0', 'Iris-virginica'],
 ['7.7', '2.8', '6.7', '2.0', 'Iris-virginica'],
 ['6.3', '2.7', '4.9', '1.8', 'Iris-virginica'],
 ['6.7', '3.3', '5.7', '2.1', 'Iris-virginica'],
 ['7.2', '3.2', '6.0', '1.8', 'Iris-virginica'],
 ['6.2', '2.8', '4.8', '1.8', 'Iris-virginica'],
 ['6.1', '3.0', '4.9', '1.8', 'Iris-virginica'],
 ['6.4', '2.8', '5.6', '2.1', 'Iris-virginica'],
 ['7.2', '3.0', '5.8', '1.6', 'Iris-virginica'],
 ['7.4', '2.8', '6.1', '1.9', 'Iris-virginica'],
 ['7.9', '3.8', '6.4', '2.0', 'Iris-virginica'],
 ['6.4', '2.8', '5.6', '2.2', 'Iris-virginica'],
 ['6.3', '2.8', '5.1', '1.5', 'Iris-virginica'],
 ['6.1', '2.6', '5.6', '1.4', 'Iris-virginica'],
 ['7.7', '3.0', '6.1', '2.3', 'Iris-virginica'],
 ['6.3', '3.4', '5.6', '2.4', 'Iris-virginica'],
 ['6.4', '3.1', '5.5', '1.8', 'Iris-virginica'],
 ['6.0', '3.0', '4.8', '1.8', 'Iris-virginica'],
 ['6.9', '3.1', '5.4', '2.1', 'Iris-virginica'],
 ['6.7', '3.1', '5.6', '2.4', 'Iris-virginica'],
 ['6.9', '3.1', '5.1', '2.3', 'Iris-virginica'],
 ['5.8', '2.7', '5.1', '1.9', 'Iris-virginica'],
 ['6.8', '3.2', '5.9', '2.3', 'Iris-virginica'],
 ['6.7', '3.3', '5.7', '2.5', 'Iris-virginica'],
 ['6.7', '3.0', '5.2', '2.3', 'Iris-virginica'],
 ['6.3', '2.5', '5.0', '1.9', 'Iris-virginica'],
 ['6.5', '3.0', '5.2', '2.0', 'Iris-virginica'],
 ['6.2', '3.4', '5.4', '2.3', 'Iris-virginica'],
 ['5.9', '3.0', '5.1', '1.8', 'Iris-virginica']]

In [513]:
myarray =np.array(m_list)

In [514]:
for i in range(150):
    if(myarray[i][4]=="Iris-setosa"):
        myarray[i][4]=0
    elif(myarray[i][4]=="Iris-versicolor"):
        myarray[i][4]=1
    else:
        myarray[i][4]=2

In [515]:
myarray

array([['5.1', '3.5', '1.4', '0.2', '0'],
       ['4.9', '3.0', '1.4', '0.2', '0'],
       ['4.7', '3.2', '1.3', '0.2', '0'],
       ['4.6', '3.1', '1.5', '0.2', '0'],
       ['5.0', '3.6', '1.4', '0.2', '0'],
       ['5.4', '3.9', '1.7', '0.4', '0'],
       ['4.6', '3.4', '1.4', '0.3', '0'],
       ['5.0', '3.4', '1.5', '0.2', '0'],
       ['4.4', '2.9', '1.4', '0.2', '0'],
       ['4.9', '3.1', '1.5', '0.1', '0'],
       ['5.4', '3.7', '1.5', '0.2', '0'],
       ['4.8', '3.4', '1.6', '0.2', '0'],
       ['4.8', '3.0', '1.4', '0.1', '0'],
       ['4.3', '3.0', '1.1', '0.1', '0'],
       ['5.8', '4.0', '1.2', '0.2', '0'],
       ['5.7', '4.4', '1.5', '0.4', '0'],
       ['5.4', '3.9', '1.3', '0.4', '0'],
       ['5.1', '3.5', '1.4', '0.3', '0'],
       ['5.7', '3.8', '1.7', '0.3', '0'],
       ['5.1', '3.8', '1.5', '0.3', '0'],
       ['5.4', '3.4', '1.7', '0.2', '0'],
       ['5.1', '3.7', '1.5', '0.4', '0'],
       ['4.6', '3.6', '1.0', '0.2', '0'],
       ['5.1', '3.3', '1.7', '0.5', '0'],
       ['4.8', '3.4', '1.9', '0.2', '0'],
       ['5.0', '3.0', '1.6', '0.2', '0'],
       ['5.0', '3.4', '1.6', '0.4', '0'],
       ['5.2', '3.5', '1.5', '0.2', '0'],
       ['5.2', '3.4', '1.4', '0.2', '0'],
       ['4.7', '3.2', '1.6', '0.2', '0'],
       ['4.8', '3.1', '1.6', '0.2', '0'],
       ['5.4', '3.4', '1.5', '0.4', '0'],
       ['5.2', '4.1', '1.5', '0.1', '0'],
       ['5.5', '4.2', '1.4', '0.2', '0'],
       ['4.9', '3.1', '1.5', '0.1', '0'],
       ['5.0', '3.2', '1.2', '0.2', '0'],
       ['5.5', '3.5', '1.3', '0.2', '0'],
       ['4.9', '3.1', '1.5', '0.1', '0'],
       ['4.4', '3.0', '1.3', '0.2', '0'],
       ['5.1', '3.4', '1.5', '0.2', '0'],
       ['5.0', '3.5', '1.3', '0.3', '0'],
       ['4.5', '2.3', '1.3', '0.3', '0'],
       ['4.4', '3.2', '1.3', '0.2', '0'],
       ['5.0', '3.5', '1.6', '0.6', '0'],
       ['5.1', '3.8', '1.9', '0.4', '0'],
       ['4.8', '3.0', '1.4', '0.3', '0'],
       ['5.1', '3.8', '1.6', '0.2', '0'],
       ['4.6', '3.2', '1.4', '0.2', '0'],
       ['5.3', '3.7', '1.5', '0.2', '0'],
       ['5.0', '3.3', '1.4', '0.2', '0'],
       ['7.0', '3.2', '4.7', '1.4', '1'],
       ['6.4', '3.2', '4.5', '1.5', '1'],
       ['6.9', '3.1', '4.9', '1.5', '1'],
       ['5.5', '2.3', '4.0', '1.3', '1'],
       ['6.5', '2.8', '4.6', '1.5', '1'],
       ['5.7', '2.8', '4.5', '1.3', '1'],
       ['6.3', '3.3', '4.7', '1.6', '1'],
       ['4.9', '2.4', '3.3', '1.0', '1'],
       ['6.6', '2.9', '4.6', '1.3', '1'],
       ['5.2', '2.7', '3.9', '1.4', '1'],
       ['5.0', '2.0', '3.5', '1.0', '1'],
       ['5.9', '3.0', '4.2', '1.5', '1'],
       ['6.0', '2.2', '4.0', '1.0', '1'],
       ['6.1', '2.9', '4.7', '1.4', '1'],
       ['5.6', '2.9', '3.6', '1.3', '1'],
       ['6.7', '3.1', '4.4', '1.4', '1'],
       ['5.6', '3.0', '4.5', '1.5', '1'],
       ['5.8', '2.7', '4.1', '1.0', '1'],
       ['6.2', '2.2', '4.5', '1.5', '1'],
       ['5.6', '2.5', '3.9', '1.1', '1'],
       ['5.9', '3.2', '4.8', '1.8', '1'],
       ['6.1', '2.8', '4.0', '1.3', '1'],
       ['6.3', '2.5', '4.9', '1.5', '1'],
       ['6.1', '2.8', '4.7', '1.2', '1'],
       ['6.4', '2.9', '4.3', '1.3', '1'],
       ['6.6', '3.0', '4.4', '1.4', '1'],
       ['6.8', '2.8', '4.8', '1.4', '1'],
       ['6.7', '3.0', '5.0', '1.7', '1'],
       ['6.0', '2.9', '4.5', '1.5', '1'],
       ['5.7', '2.6', '3.5', '1.0', '1'],
       ['5.5', '2.4', '3.8', '1.1', '1'],
       ['5.5', '2.4', '3.7', '1.0', '1'],
       ['5.8', '2.7', '3.9', '1.2', '1'],
       ['6.0', '2.7', '5.1', '1.6', '1'],
       ['5.4', '3.0', '4.5', '1.5', '1'],
       ['6.0', '3.4', '4.5', '1.6', '1'],
       ['6.7', '3.1', '4.7', '1.5', '1'],
       ['6.3', '2.3', '4.4', '1.3', '1'],
       ['5.6', '3.0', '4.1', '1.3', '1'],
       ['5.5', '2.5', '4.0', '1.3', '1'],
       ['5.5', '2.6', '4.4', '1.2', '1'],
       ['6.1', '3.0', '4.6', '1.4', '1'],
       ['5.8', '2.6', '4.0', '1.2', '1'],
       ['5.0', '2.3', '3.3', '1.0', '1'],
       ['5.6', '2.7', '4.2', '1.3', '1'],
       ['5.7', '3.0', '4.2', '1.2', '1'],
       ['5.7', '2.9', '4.2', '1.3', '1'],
       ['6.2', '2.9', '4.3', '1.3', '1'],
       ['5.1', '2.5', '3.0', '1.1', '1'],
       ['5.7', '2.8', '4.1', '1.3', '1'],
       ['6.3', '3.3', '6.0', '2.5', '2'],
       ['5.8', '2.7', '5.1', '1.9', '2'],
       ['7.1', '3.0', '5.9', '2.1', '2'],
       ['6.3', '2.9', '5.6', '1.8', '2'],
       ['6.5', '3.0', '5.8', '2.2', '2'],
       ['7.6', '3.0', '6.6', '2.1', '2'],
       ['4.9', '2.5', '4.5', '1.7', '2'],
       ['7.3', '2.9', '6.3', '1.8', '2'],
       ['6.7', '2.5', '5.8', '1.8', '2'],
       ['7.2', '3.6', '6.1', '2.5', '2'],
       ['6.5', '3.2', '5.1', '2.0', '2'],
       ['6.4', '2.7', '5.3', '1.9', '2'],
       ['6.8', '3.0', '5.5', '2.1', '2'],
       ['5.7', '2.5', '5.0', '2.0', '2'],
       ['5.8', '2.8', '5.1', '2.4', '2'],
       ['6.4', '3.2', '5.3', '2.3', '2'],
       ['6.5', '3.0', '5.5', '1.8', '2'],
       ['7.7', '3.8', '6.7', '2.2', '2'],
       ['7.7', '2.6', '6.9', '2.3', '2'],
       ['6.0', '2.2', '5.0', '1.5', '2'],
       ['6.9', '3.2', '5.7', '2.3', '2'],
       ['5.6', '2.8', '4.9', '2.0', '2'],
       ['7.7', '2.8', '6.7', '2.0', '2'],
       ['6.3', '2.7', '4.9', '1.8', '2'],
       ['6.7', '3.3', '5.7', '2.1', '2'],
       ['7.2', '3.2', '6.0', '1.8', '2'],
       ['6.2', '2.8', '4.8', '1.8', '2'],
       ['6.1', '3.0', '4.9', '1.8', '2'],
       ['6.4', '2.8', '5.6', '2.1', '2'],
       ['7.2', '3.0', '5.8', '1.6', '2'],
       ['7.4', '2.8', '6.1', '1.9', '2'],
       ['7.9', '3.8', '6.4', '2.0', '2'],
       ['6.4', '2.8', '5.6', '2.2', '2'],
       ['6.3', '2.8', '5.1', '1.5', '2'],
       ['6.1', '2.6', '5.6', '1.4', '2'],
       ['7.7', '3.0', '6.1', '2.3', '2'],
       ['6.3', '3.4', '5.6', '2.4', '2'],
       ['6.4', '3.1', '5.5', '1.8', '2'],
       ['6.0', '3.0', '4.8', '1.8', '2'],
       ['6.9', '3.1', '5.4', '2.1', '2'],
       ['6.7', '3.1', '5.6', '2.4', '2'],
       ['6.9', '3.1', '5.1', '2.3', '2'],
       ['5.8', '2.7', '5.1', '1.9', '2'],
       ['6.8', '3.2', '5.9', '2.3', '2'],
       ['6.7', '3.3', '5.7', '2.5', '2'],
       ['6.7', '3.0', '5.2', '2.3', '2'],
       ['6.3', '2.5', '5.0', '1.9', '2'],
       ['6.5', '3.0', '5.2', '2.0', '2'],
       ['6.2', '3.4', '5.4', '2.3', '2'],
       ['5.9', '3.0', '5.1', '1.8', '2']], dtype='<U15')

In [516]:
splitedarray=myarray[:,0:4]

In [517]:
colorarray=myarray[:,4]

In [518]:
xtrain0=splitedarray[:30]
xtrain1=splitedarray[50:80]
xtrain2=splitedarray[100:130]
x_train=np.concatenate((xtrain0, xtrain1,xtrain2), axis=0)
x_train=x_train.astype(float)


xtest0=splitedarray[30:50]

xtest1=splitedarray[80:100]
xtest2=splitedarray[130:150]
x_test=np.concatenate((xtest0,xtest1,xtest2),axis=0)
x_test=x_test.astype(float)

In [519]:
x_train

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6]])

In [520]:
x_test

array([[4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [521]:
ytrain0=colorarray[:30]
ytrain1=colorarray[50:80]
ytrain2=colorarray[100:130]
y_train=np.concatenate((ytrain0, ytrain1,ytrain2), axis=0)

y_train=y_train.astype(float)

ytest0=colorarray[30:50]

ytest1=colorarray[80:100]
ytest2=colorarray[130:150]
y_test=np.concatenate((ytest0,ytest1,ytest2),axis=0)
y_test=y_test.astype(float)

In [538]:
def cal(x0,x1,x2,x3):
    #5 is no of neighbour
    no_of_neighbour=7
    result=np.sqrt(np.square(tx0-x0)+np.square(tx1-x1)+np.square(tx2-x2)+np.square(tx3-x3))
    sorted_result=np.sort(result)
    sorted_result=sorted_result[:no_of_neighbour]
    m_index_list=[]
    for i in range(0,no_of_neighbour):
        m_index_list.append(list(result).index(sorted_result[i]))
    values=[]
    for i in range(0,no_of_neighbour):
        values.append(y_train[m_index_list[i]])
    santosa=0
    virsicolor=0
    virginica=0
    for i in range(0,no_of_neighbour):
        if values[i]==0:
            santosa=santosa+1
        elif values[i]==1:
            virsicolor=virsicolor+1
        else:
            virginica=virginica+1
    #print(santosa,virsicolor,virginica)
    if(santosa>(virsicolor and virginica)):
        return 0
    elif( virsicolor > (santosa and virginica)):
        return 1
    elif(virginica > (santosa and virginica)):
        return 2
    return 9999

In [539]:
tx0=x_train[:,0]
tx1=x_train[:,1]
tx2=x_train[:,2]
tx3=x_train[:,3]

In [540]:
m_train_list=[]
for i in range(0,60):
    x0=x_test[i,0]
    x1=x_test[i,1]
    x2=x_test[i,2]
    x3=x_test[i,3]    
    m_train_list.append(cal(x0,x1,x2,x3))

In [541]:
m_train_list

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 1,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 1]

In [542]:
count=0
for i in range(0,60):
    if m_train_list[i]==y_test[i]:
        count=count+1

In [543]:
len(x_test)

60

In [544]:
count

53

In [545]:
len(m_train_list)

60