In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime

In [4]:
data=pd.read_csv('AirPassengers.csv')
data.head()
print(data.dtypes)

Month          object
#Passengers     int64
dtype: object

In [7]:
data['Month']=pd.to_datetime(data['Month'])
data.set_index('Month',inplace=True)

            #Passengers
Month
1949-01-01          112
1949-02-01          118
1949-03-01          132
1949-04-01          129
1949-05-01          121